.container {
  position: relative;
  background-color: var(--Navy800);
  z-index: 10;
  border: none;
  border-radius: 0.5rem;
  padding: 2.25rem 1.25rem;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  margin: 0 1.5rem;
}
.container h2 {
  margin-bottom: 1rem;
}
.container p {
  font-size: 0.875rem;
  line-height: 150%;
}
.errorMessage {
  color: var(--Red500);
  font-weight: bold;
}
.hide {
  display: none;
}
.form {
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem;
}
.form input {
  width: 100%;
}

.pillShape {
  padding: 0.84rem;
  text-align: center;
  border: none;
  border-radius: 1.5rem;
}
.containerBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1.5rem;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    var(--Navy900) 0 50%,
    var(--Navy950) 50% 100%
  );
}
@media (width>767px) {
  .container {
    width: 28.5rem;
    padding: 3rem;
  }
}
@media (width>990px) {
  .container {
    width: 54rem;
    height: 17rem;
    margin: 0;
    padding: 3rem 5rem;
  }
  .container h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .container p {
    padding: 0 1rem;
  }
  .form {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
