.container {
  font-family: "Open Sans";
  background-color: var(--Navy950);
  width: 100vw;
  position: relative;
  left: -2rem;
  top: -23rem;
  min-height: 60rem;
  padding-top: 16.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.logo {
  width: 108px;
  margin-bottom: 2.5rem;
}
.container address {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-style: normal;
}
.container ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0;
  font-size: 16px;
}
.addresLine {
  display: flex;
  gap: 1rem;
}
.container_img {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}
#locatonIcon {
  height: 18px;
  width: 13px;
}
#phoneIcon {
  margin-top: 5px;
  width: 13px;
  height: 13px;
}
