.container {
  margin-top: 3rem;
  background-color: transparent;
  position: relative;
}
.topCard {
  position: relative;
  z-index: 10;
}
.container img {
  width: 100%;
  margin-bottom: 4.5rem;
}

.textSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textSectiondetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.container p {
  text-align: center;
  padding: 0 0.5rem;
  margin-bottom: 2rem;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.btn-link {
  background-color: var(--Teal200);
  padding: 1rem 5rem;
  border-radius: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.backDecor {
  position: absolute;
  top: 35%;
  width: 100vw;
  margin-left: -1.5rem;
  z-index: 5;
  background: linear-gradient(
    to bottom,
    transparent 0 65%,
    var(--Navy900) 65% 100%
  );
}

.topDecorBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--Navy900);
}
.decorImg {
  display: none;
}
@media (width>760px) {
  .container {
    padding: 0 3.375rem;
    width: 100vw;
    left: -1.5rem;
    overflow: hidden;
  }
  .topDecorBackground {
    background: none;
  }
  .backDecor {
    background: none;
  }
  .container .decorImg {
    display: block;
    bottom: -390px;
    left: -500px;
    position: absolute;
    max-width: 1900px;
    width: 1900px;
    height: 600px;
  }
  .container h1 {
    font-size: 2.5rem;
  }
  .container p {
    font-size: 1.25rem;
  }
  .btn-link {
    width: 17.5rem;
    text-align: center;
  }
  .mobileImageDecor {
    display: none;
  }
}
@media (width>990px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8.75rem;
  }
  .sectionWrapper {
    max-width: 48rem;
  }
  .textSectiondetails {
    max-width: 37rem;
  }
  h1 {
    text-wrap: unset;
  }
  .container .decorImg {
    bottom: -2rem;
    left: 0;
    margin-bottom: 0;
    max-width: none;
    max-height: none;
    width: auto;
    height: auto;
  }
}
