.testemonialWrapper {
  position: relative;
  width: 100vw;
  left: -2rem;
  padding: 3rem;
  padding-top: 9.4rem;
  background-color: var(--Navy900);
}
.bgQuotesImg {
  width: 1.5rem;
  padding-left: 0.5rem;
}
.cardList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
